<h1>
  {{title}}
</h1>

<form [formGroup]="projectGroup">
  <div class="example-container">

    <mat-form-field hintLabel="Max 10 characters">
      <mat-label>Project Name</mat-label>
      <input matInput #input placeholder="Enter Project Name" formControlName="projectName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Project Start Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="projectStartDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Project End Date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="projectEndDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <!-- <mat-radio-group aria-label="Select an option">
      <mat-label>Completed</mat-label>
      input
      <mat-radio-button value="true" formControlName="completed">Yes</mat-radio-button>
      <mat-radio-button value="false" formControlName="completed">No</mat-radio-button>
    </mat-radio-group> -->
    <div formArrayName="link">

      <button mat-flat-button color="primary" (click)="addLink()">Add Link</button>
      @for(lnk of link.controls ; track lnk ; let i = $index){

        <div [formGroupName]="i" class="contact-form">

          <mat-form-field class="i">
            <mat-label>Address</mat-label>
            <input type="address" matInput placeholder="Enter address" formControlName="address">
          </mat-form-field>
        
          <mat-form-field class="">
            <mat-label>Port</mat-label>
            <input type="number" matInput placeholder="Enter port" formControlName="port">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Type of Link</mat-label>
            <mat-select formControlName="type">
              <mat-option value="testing">Testing</mat-option>
              <mat-option value="development">Development</mat-option>
              <mat-option value="production">Production</mat-option>
            </mat-select>
          </mat-form-field>
          
          <button mat-flat-button color="warn" (click)="deleteLink(i)"> Delete Contact </button>
        </div>
      }
    </div>
    
    <div>
      <b>Completed</b> 
      <input type="radio" name="completed" value="true" formControlName="completed"> Yes
      <input type="radio" name="completed" value="false" formControlName="completed"> No
    </div>
    
    <mat-form-field hintLabel="Max 10 characters">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Write about project" formControlName="description"></textarea>
    </mat-form-field>
    
    <mat-form-field hintLabel="Max 10 characters">
      <mat-label>Cost</mat-label>
      <input matInput #input type="number" placeholder="Enter Cost" formControlName="cost">
    </mat-form-field>
    <br>
    
    <section class="example-section">
      <h4>Technology:</h4>
      <p><mat-checkbox value="HTML" (change)="addTech($event)">HTML</mat-checkbox></p>
      <p><mat-checkbox value="CSS" (change)="addTech($event)">CSS</mat-checkbox></p>
      <p><mat-checkbox value="Javascript" (change)="addTech($event)">Javascript</mat-checkbox></p>
      <p><mat-checkbox value="Java" (change)="addTech($event)">Java</mat-checkbox></p>
      <p><mat-checkbox value="NodeJs" (change)="addTech($event)">NodeJs</mat-checkbox></p>
      <p><mat-checkbox value="NestJs" (change)="addTech($event)">NestJs</mat-checkbox></p>
      <p><mat-checkbox value="Angular" (change)="addTech($event)">Angular</mat-checkbox></p>
      <p><mat-checkbox value="React" (change)="addTech($event)">React</mat-checkbox></p>
      <p><mat-checkbox value="PHP" (change)="addTech($event)">PHP</mat-checkbox></p>
      <p><mat-checkbox value="Python" (change)="addTech($event)">Python</mat-checkbox></p>
      <p><mat-checkbox value="MySql" (change)="addTech($event)">MySql</mat-checkbox></p>
      <p><mat-checkbox value="MongoDB" (change)="addTech($event)">MongoDB</mat-checkbox></p>
    </section>
    
    <button mat-flat-button color="primary" (click)="addProject()">Submit</button>
      
  </div>
  
</form>

<pre>
  {{projects() | json}}
</pre>